@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

$--color-background: rgb(33, 48, 42);
$--color-primary: rgb(255, 197, 38);

$--color-white: rgb(240, 236, 228);
$--color-black: rgb(12, 13, 14);

$--font: "Oswald", sans-serif;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  position: relative;
  height: 100vh;
  width: 100vw;
  color: $--color-white;
  font-family: "Oswald", sans-serif;
}

.board {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: $--color-background;
}

.overlay {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;

  background-color: rgba($--color-black, 0.5);
  backdrop-filter: blur(5px);
}

.settings {
  @include absCenter;
  width: 50rem;
  height: 30rem;
  background-color: $--color-background;
  border: 2px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__label {
    font-size: 3rem;
  }

  &__input {
    height: 25%;
    width: 25%;
    margin: 2rem;
    border-radius: 1rem;
    border: none;
    background-color: transparent;
    font-size: 5rem;
    text-align: center;
    padding-left: 1.5rem;
    color: $--color-white;
  }

  &__start {
    font-size: 2.5rem;
    padding: 1.5rem 4rem;
    border-radius: 100rem;
    text-transform: uppercase;
    font-weight: 500;
    color: $--color-black;
    background-color: $--color-primary;
    cursor: pointer;
    transition: all 75ms;

    &:hover {
      background-color: rgba($--color-black, 0.5);
      color: $--color-white;
      box-shadow: 1px 1px 0px 2px $--color-black;
    }

    &:active {
      box-shadow: 0 0 0 2px $--color-white;
    }
  }
}
